<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

    </configSections>
    <connectionStrings>
        <add name="GPS.Tool.Properties.Settings.testConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=shkbq"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--log==========================================================-->
    <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
      defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="true">
        <listeners>
            <add source="Enterprise Library Logging" formatter="Default Formatter"
              log="" machineName="." listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Event Log Destination" />
            <add fileName="trace.log" header="----------------header------------------------"
              footer="----------------footer------------------------" formatter="Default Formatter"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Flat File Destination" />
        </listeners>
        <formatters>
            <add template="Timestamp: {timestamp}&#xD;&#xA;                          Message: {message}&#xD;&#xA;                          Category: {category}&#xD;&#xA;                          Priority: {priority}&#xD;&#xA;                          EventId: {eventid}&#xD;&#xA;                          Severity: {severity}&#xD;&#xA;                          Title:{title}&#xD;&#xA;                          Machine: {machine}&#xD;&#xA;                          Application Domain: {appDomain}&#xD;&#xA;                          Process Id: {processId}&#xD;&#xA;                          Process Name: {processName}&#xD;&#xA;                          Win32 Thread Id: {win32ThreadId}&#xD;&#xA;                          Thread Name: {threadName}&#xD;&#xA;                          Extended Properties: {dictionary({key} - {value}&#xD;&#xA;                          )}"
              type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Default Formatter" />
        </formatters>
        <logFilters>
            <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="Category" />
        </logFilters>
        <categorySources>
            <add switchValue="All" name="Default Category">
                <listeners>
                    <add name="Event Log Destination" />
                    <add name="Flat File Destination" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Destination" />
                    <add name="Flat File Destination" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <appSettings>
        <add key="BlockGroupBoxMappings" value=""/>
        <add key="TractBoxMappings" value=""/>
        <add key="FiveZipBoxMappings" value=""/>
        <add key="ThreeZipBoxMappings" value=""/>
        <add key="CBSABoxMapping" value=""/>
        <add key="UrbanAreaBoxMapping" value=""/>
        <add key="CountyAreaBoxMapping" value=""/>
        <add key="ElementarySchoolBoxMapping" value=""/>
        <add key="SecondarySchoolBoxMapping" value=""/>
        <add key="UnifiedSchoolBoxMapping" value=""/>
        <add key="LowerHouseBoxMapping" value=""/>
        <add key="UpperSenateBoxMapping" value=""/>
      <add key="BlockGroupMappingStart" value="0"/>
      <add key="BlockGroupMappingEnd" value="0"/>
      <add key="BlockGroupMappingLogFile" value="D:\log-1-10000.txt"/>
      <add key="TractFiveZipLogFile" value="D:\tract-five-zip-log.txt"/>
    </appSettings>
</configuration>