@import "compass/css3";

$blue: #108FE8;
$yellow: #FFC334;
$red: #E53030;
$green: #0EC518;

@mixin round-button($diameter:5vw, $baseColor:$blue, $hoverBaseColor:$green) {
	background: $baseColor;
	border: 1px solid #fff;
	border-radius: 100%;
	box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
	cursor: pointer;
	display: inline-block;
	height: $diameter;
	width: $diameter;

	&:hover {
		background: $hoverBaseColor;
		box-shadow: 0 -2px 0 3px darken($hoverBaseColor, 10%) inset, 0 5px 5px rgba(darken($hoverBaseColor, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
	}
	
}