<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net48" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net48" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net48" />
  <package id="log4net" version="2.0.14" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net48" />
  <package id="NanoXLSX" version="1.8.2" targetFramework="net48" />
  <package id="NetTopologySuite" version="2.4.0" targetFramework="net48" />
  <package id="NetTopologySuite.Features" version="2.1.0" targetFramework="net48" />
  <package id="NetTopologySuite.IO.GeoJSON" version="2.0.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
  <package id="PdfSharp.MigraDoc" version="2.0.1" targetFramework="net48" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="Z.EntityFramework.Extensions" version="6.13.12" targetFramework="net48" />
  <package id="Z.EntityFramework.Plus.EF6" version="6.13.12" targetFramework="net48" />
  <package id="Z.Expressions.Eval" version="4.0.75" targetFramework="net48" />
</packages>