<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="TIMMContext" 
        connectionString="server=localhost; database=timm201907; user id=sa; password=1qaz@WSX; timeout=3" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
	<log4net>
		<appender>
			<file value="z:\\website.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</appender>
	</log4net>
</configuration>