@import "util/_unit";

.mapbox-wrapper {
    z-index: 0;
    position: relative;
    .mapbox-container{
        z-index: -1;
    }
    .map-overlay{
        z-index: 1;
        &.topleft{
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
}