.leaflet-map-container {
    z-index: 0;
}

//svg animate
@keyframes gtu-location-flash {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.gtu-last-location {
    animation-duration: 3s;
    animation-name: gtu-location-flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}