<div class="footer">
  <div class="left">
    <img src="images/vargainc-logo.png" alt="">
  </div>
  <div class="center">
    <ul class="no-bullet">
      <li>
        <span>MC#:{{DisplayName}}</span>
        <span>www.vargainc.com</span>
      </li>
      <li>
        <span>Created on:{{Date}}</span>
        <span>PH:949-768-1500</span>
      </li>
      <li>
        <span>Created for:{{ContactName}}</span>
        <span>FX:949-768-1501</span>
      </li>
      <li>
        <span>Created by:{{CreatorName}}</span>
        <span>&copyright;2010 Varga Media Solutions,Inc.All rights reserved.</span>
      </li>
    </ul>
  </div>
  <div class="right">
    <img class="timm-log" src="images/timm-logo-print.jpg" alt="">
  </div>
</div>