<div class="row">
  <div class="small-12 columns text-center title">Summary of Sub Maps</div>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ZIP CODE</th>
      <th>TOTAL H/H</th>
      <th>TARGET H/H</th>
      <th>PENETRATION</th>
    </tr>
  </thead>
</table>
{{> footer}}