<div class="row">
  <div class="small-12 columns text-center title"><span class="editable" role="title">CARRIER ROUTES CONTAINED IN SUBM MAP {{submap.OrderId}} ({{submap.Name}})</span></div>
</div>
<div class="row" role="table" datasource="submap-detail">
  <table>
    <thead>
      <tr>
        <th><span class="editable">#</span></th>
        <th><span class="editable">CARRIER ROUTE #</span></th>
        <th><span class="editable">TOTAL H/H</span></th>
        <th><span class="editable">TARGET H/H</span></th>
        <th><span class="editable">PENETRATION</span></th>
      </tr>
    </thead>
    <tbody class="detail-body">
    </tbody>
  </table>
</div>
{{> footer}}