<ul class="metismenu off-canvas-list">
	<li><label>Table Of Contents</label></li>
	<li><a href="javascript:;" role="#cover" data-off-canvas>Cover</a></li>
	<li><a href="javascript:;" role="#campaign" data-off-canvas>Campaign</a></li>
	<li>
		<li aria-expanded="true"><a href="javascript:;">Sub Map</a></li>
		<ul aria-expanded="false">
			{{#each SubMaps}}
			<li><a href="javascript:;" data-off-canvas role="#submap-{{Id}}">{{Name}}</a></li>
			{{/each}}
		</ul>
	</li>
	<li>
		<li aria-expanded="true"><a href="javascript:;">DM Map</a></li>
		<ul>
			{{#each SubMaps}}
			{{#each DMaps}}
			<li><a href="javascript:;" data-off-canvas role="#dmap-{{Id}}">{{Name}}</a></li>
			{{/each}}
			{{/each}}
		</ul>
	</li>
</ul>