<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TestSwitch" value="0"/>
        <add key="StopHour" value="6"/>
        <add key="DBProvider" value="MsSql"/>
        <add key="MySql" value="Database=Timm201107;Data Source=localhost;Port=10000;User Id=root;Password=harry4h#"  />
        <add key="MsSql" value="Database=Timm;Data Source=localhost;User ID=sa;Password=harry4h#"  />
    </appSettings>
</configuration>