<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GTU.DataLayer.Properties.Settings.GTUTrackingConnectionString"
            connectionString="Data Source=SHILX\MSSQL2008;Initial Catalog=GTUTracking;User ID=sa;Password=shine123$%^"
            providerName="System.Data.SqlClient" />
        <add name="GTU.DataLayer.Properties.Settings.GTUTrackingConnectionString1"
            connectionString="Data Source=SHILX\MSSQL2008;Initial Catalog=GTUTracking;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>