<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excelpath" value="e:\"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="GPSOfficeHelper.ExcelHelper" behaviorConfiguration="WCFExcelHelperBehavior">
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:8010/ExcelHelperService"/>
          </baseAddresses>


        </host>
        <endpoint binding="wsHttpBinding" contract="GPSOfficeHelper.IExcelHelper"></endpoint>
      </service>

    </services>
    <bindings>
      
      <netNamedPipeBinding>
        <binding name="WCFExcelHelperBinding"/>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFExcelHelperBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>

      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>