<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="PercentageColor">
      <section name="Color" type="GPS.DomainLayer.Area.PercentageColor" />
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log.performance" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="Classifications">
      <section name="Z3" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="Z5" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="TRK" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="BG" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="CBSA" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="Urban" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="County" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="SLD_Senate" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="SLD_House" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="Voting_District" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="SD_Elem" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="SD_Secondary" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="SD_Unified" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="Custom" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="Address" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
      <section name="PremiumCRoute" type="GPS.Website.Handler.ClassificationSection, GPS.Website" />
    </sectionGroup>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <connectionStrings>
    <add name="TIMMContext" connectionString="server=localhost; database=dev; user id=sa; password=sa; timeout=3" providerName="System.Data.SqlClient" />
    <add name="timmEntities" connectionString="metadata=res://*/DAL.TimmDataModel.csdl|res://*/DAL.TimmDataModel.ssdl|res://*/DAL.TimmDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=localhost; database=dev; user id=sa; password=sa; timeout=3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings configSource="ExternalConnectionStrings.config">
  </connectionStrings>-->
  <cachingConfiguration configSource="Caching.config" />
  <activerecord isWeb="true">
    <config type="GPS.DomainLayer.ActiveRecordDatabase.AssistantDatabase, GPS.DomainLayer">
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="server=localhost; database=dev; user id=sa; password=sa; timeout=3" />
    </config>
  </activerecord>
  <!--log==========================================================-->

  <appSettings>
    <add key="APIServiceAddress" value="http://timm.vargainc.com/dev/api/" />
    <add key="FakeCompanyName" value="PJ One Enterprises" />
    <add key="File_Extension" value=".csv,.shp,.shx,.dbf" />
    <add key="WebDebug" value="true" />
    <add key="radius" value="1,2,3" />
    <add key="campaignimagepath" value="~/Files/Images/" />
    <add key="addressimagepath" value="~/Files/Images/Address/" />
    <add key="ndaddressfilepath" value="~/Files/ImportFiles/" />
    <add key="addressfilepath" value="~/Files/ImportFiles/" />
    <add key="importdatafilepath" value="~/Files/ImportFiles/" />
    <add key="gtufilepath" value="~/Files/ImportFiles/" />
    <add key="UrlBase" value="http://timm.vargainc.com" />
    <add key="ReportUrl" value="http://timm.vargainc.com/Reports/" />
    <add key="ReportRoot" value="~/Files/ShareWebsiteFolder/" />
    <add key="PictureUrl" value="http://timm.vargainc.com/Files/Pictures/" />
    <add key="PictureRoot" value="~/Files/ShareWebsiteFolder/" />

    <add key="Mail_smtp" value="outgoing.verizon.net" />
    <add key="Mail_port" value="587" />
    <add key="Mail_ssl" value="0" />
    <add key="Mail_from" value="noreply@vargadev.dyndns.org" />
    <add key="Mail_cc" value="changricky@gmail.com" />
    <add key="Mail_username" value="vargadev" />
    <add key="Mail_password" value="z3bul0n" />

    <!--
    <add key="Mail_smtp" value="smtp.gmail.com"/>
    <add key="Mail_port" value="587"/>
    <add key="Mail_ssl" value="1"/>
    <add key="Mail_from" value="wayne.wei@maesinfo.com"/>
    <add key="Mail_cc" value="ricky.chang@computingedgesolutions.com"/>
    <add key="Mail_username" value="wayne.wei@maesinfo.com"/>
    <add key="Mail_password" value="Mi123456"/>
    -->

    <add key="DBConnection" value="Server=localhost; database=dev; user id=sa; password=sa; timeout=300" />
    <add key="PdfConverterKey" value="m7Cpu6O7qau7rbWru6iqtaqptaKioqI=" />

    <!--
    <add key="UrlBase" value="http://localhost:8090/GPSDemo"/>
    -->
    <!--define the unhandle exception message content-->

    <add key="UnhandleExceptionMessage" value="System fault. please contact us!" />
    <add key="ParseNDAddressFolder" value="~/Files/ShareWebsiteFolder/" />
    <add key="GeoService" value="Google" />

    <!--Bing: use bing map geo service Google: use google geo service-->
    <add key="BinMapKey" value="Aj9AgKmJmlYvhSa0hrzuYH-a0vAxGJPeql-yqajTRC3RBeASyb-o9sBuBu-GtLkg" />
    <add key="MinutuesToTreatGtuAsStopped" value="5" />


    <!-- use Ramer–Douglas–Peucker Algorithm to reduce GtuInfo Location. 0:disable >0:enable and the Tolerance value. e.g. 500 menas tolerance is 0.000500 for lat/long equip 500 m -->

    <add key="GTUTolerance" value="10" />

    <!-- the phantomjs print server address (EC2) -->
    <add key="CampaignPrintUrl" value="../newcenter/#print/{0}/campaign" />
    <add key="DistributionPrintUrl" value="../newcenter/#print/{0}/distribution" />
    <add key="ReportPrintUrl" value="../newcenter/#print/{0}/report" />

  </appSettings>
  <system.web>
    <!--
    <identity impersonate="true" userName="shinetechchina\zhanghj" password="hehe2"/>
    -->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="60" />-->
    <sessionState mode="InProc" stateNetworkTimeout="30" timeout="1200" />
    <customErrors mode="Off" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="110000" executionTimeout="12000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS. 2147483647  
    -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="globalExceptionHandlingBehavior" type="GPS.Website.ExceptionHandler.ServiceGlobalExceptionHandler, GPS.Website" />
        <add name="jsonExceptionHandlerBehavior" type="GPS.Website.ExceptionHandler.JsonGlobalExceptionHandler, GPS.Website" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:8010/ExcelHelperService" binding="wsHttpBinding" contract="OfficeHelpers.IExcelHelper" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript />
          <jsonExceptionHandlerBehavior />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GPS.Website.SilverlightServices.DMReaderSLServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <globalExceptionHandlingBehavior />
        </behavior>
        <behavior name="GPS.Website.SilverlightServices.LocationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <globalExceptionHandlingBehavior />
        </behavior>
        <behavior name="GPS.Website.SilverlightServices.CampaignReaderSLServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <globalExceptionHandlingBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="jsonBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MyNamespace.MyService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" bindingConfiguration="jsonBinding" name="MyServiceEndpoint" contract="MyNamespace.MyService" listenUriMode="Explicit" />
      </service>
      <service name="GPS.Website.Service1">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.Service1" />
      </service>
      <service name="GPS.Website.UserServices.UserReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.UserServices.UserReaderService" />
      </service>
      <service name="GPS.Website.UserServices.RoleReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.UserServices.RoleReaderService" />
      </service>
      <service name="GPS.Website.UserServices.UserWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.UserServices.UserWriterService" />
      </service>
      <service name="GPS.Website.CampaignServices.AreaCalculateService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.CampaignServices.AreaCalculateService" />
      </service>
      <service name="GPS.Website.AreaServices.AreaReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.AreaServices.AreaReaderService" />
      </service>
      <service name="GPS.Website.AddressServices.AddressWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.AddressServices.AddressWriterService" />
      </service>
      <service name="GPS.Website.CampaignServices.CampaignWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.CampaignServices.CampaignWriterService" />
      </service>
      <service name="GPS.Website.CampaignServices.CampaignReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.CampaignServices.CampaignReaderService" />
      </service>
      <service name="GPS.Website.AreaServices.AreaWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.AreaServices.AreaWriterService" />
      </service>
      <service name="GPS.Website.UserServices.Service1">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.UserServices.Service1" />
      </service>
      <service name="GPS.Website.TrackServices.GtuReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.TrackServices.GtuReaderService" />
      </service>
      <service name="GPS.Website.TrackServices.GtuWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.TrackServices.GtuWriterService" />
      </service>
      <service name="GPS.Website.CampaignServices.Service1">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.CampaignServices.Service1" />
      </service>
      <service name="GPS.Website.DistributionMapServices.DMReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.DistributionMapServices.DMReaderService" />
      </service>
      <service name="GPS.Website.DistributionMapServices.DMWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.DistributionMapServices.DMWriterService" />
      </service>
      <service name="GPS.Website.DistributionMapServices.DJReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.DistributionMapServices.DJReaderService" />
      </service>
      <service name="GPS.Website.DistributionMapServices.DJWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.DistributionMapServices.DJWriterService" />
      </service>
      <service name="GPS.Website.GroupServices.GroupReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.GroupServices.GroupReaderService" />
      </service>
      <service name="GPS.Website.GroupServices.GroupWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.GroupServices.GroupWriterService" />
      </service>
      <service name="GPS.Website.TaskServices.TaskReaderService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.TaskServices.TaskReaderService" />
      </service>
      <service name="GPS.Website.TaskServices.TaskWriterService">
        <endpoint address="" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" contract="GPS.Website.TaskServices.TaskWriterService" />
      </service>
      <service behaviorConfiguration="GPS.Website.SilverlightServices.DMReaderSLServiceBehavior" name="GPS.Website.SilverlightServices.DMReaderSLService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="GPS.Website.SilverlightServices.DMReaderSLService" />
      </service>
      <service behaviorConfiguration="GPS.Website.SilverlightServices.CampaignReaderSLServiceBehavior" name="GPS.Website.SilverlightServices.CampaignReaderSLService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="GPS.Website.SilverlightServices.CampaignReaderSLService" />
      </service>
      <service behaviorConfiguration="GPS.Website.SilverlightServices.LocationServiceBehavior" name="GPS.Website.SilverlightServices.LocationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="GPS.Website.SilverlightServices.LocationService" />
      </service>
    </services>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint automaticFormatSelectionEnabled="true" helpEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <log.performance>
    <add key="logPath" value="/Files/Log/PerformanceLog.csv" />
  </log.performance>
  <unity>
    <typeAliases>
      <typeAlias alias="DefaultTractRepository" type="GPS.DataLayer.TractRepository, GPS.DataLayer" />
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>
          <type type="DefaultTractRepository" mapTo="DefaultTractRepository" />
        </types>
        <!--
        <extensions>
          <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
        </extensions>
        <extensionConfig>
          <add name="interception"
               type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration">
            <interceptors>
              <interceptor type="virtualMethod">
                <key type="DefaultTractRepository" />
              </interceptor>              
            </interceptors>
          </add>
        </extensionConfig>
        -->
      </container>
    </containers>
  </unity>
  <Classifications>
    <Z3 MinZoomLevel="11" MaxZoomLevel="19" BoxLat="25" BoxLon="40">
      <FillColor HtmlValue="323232" R="50" G="50" B="50" A="0.2" />
      <LineColor HtmlValue="00FF00" R="0" G="255" B="0" A="0.2" />
    </Z3>
    <Z5 MinZoomLevel="12" MaxZoomLevel="19" BoxLat="10" BoxLon="15">
      <FillColor HtmlValue="00FF00" R="0" G="255" B="0" A="0.2" />
      <LineColor HtmlValue="0000FF" R="0" G="0" B="255" A="0.2" />
    </Z5>
    <TRK MinZoomLevel="13" MaxZoomLevel="19" BoxLat="5" BoxLon="7">
      <FillColor HtmlValue="969696" R="150" G="150" B="150" A="0.2" />
      <LineColor HtmlValue="00FF00" R="0" G="255" B="0" A="0.2" />
    </TRK>
    <BG MinZoomLevel="13" MaxZoomLevel="19" BoxLat="3" BoxLon="4">
      <!--<FillColor HtmlValue="F996F6" R="249" G="150" B="246" A="0.2" />
      <LineColor HtmlValue="00FFFF" R="0" G="255" B="255" A="0.2" />-->
      <FillColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
      <LineColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
    </BG>
    <CBSA MinZoomLevel="9" MaxZoomLevel="19" BoxLat="100" BoxLon="150">
      <FillColor HtmlValue="7FFFD4" R="127" G="255" B="212" A="0.2" />
      <LineColor HtmlValue="FFFF00" R="255" G="255" B="0" A="0.2" />
    </CBSA>
    <Urban MinZoomLevel="9" MaxZoomLevel="19" BoxLat="100" BoxLon="150">
      <FillColor HtmlValue="FFFF00" R="255" G="255" B="0" A="0.2" />
      <LineColor HtmlValue="00FFFF" R="0" G="255" B="255" A="0.2" />
    </Urban>
    <County MinZoomLevel="9" MaxZoomLevel="19" BoxLat="100" BoxLon="150">
      <FillColor HtmlValue="00FFFF" R="0" G="255" B="255" A="0.2" />
      <LineColor HtmlValue="7FFF00" R="127" G="255" B="0" A="0.2" />
    </County>
    <SLD_Senate MinZoomLevel="10" MaxZoomLevel="19" BoxLat="50" BoxLon="70">
      <FillColor HtmlValue="7FFF00" R="127" G="255" B="0" A="0.2" />
      <LineColor HtmlValue="F75600" R="247" G="86" B="0" A="0.2" />
    </SLD_Senate>
    <SLD_House MinZoomLevel="11" MaxZoomLevel="19" BoxLat="25" BoxLon="40">
      <FillColor HtmlValue="F75600" R="247" G="86" B="0" A="0.2" />
      <LineColor HtmlValue="F0FFFF" R="240" G="255" B="255" A="0.2" />
    </SLD_House>
    <Voting_District MinZoomLevel="11" MaxZoomLevel="19" BoxLat="10" BoxLon="15">
      <FillColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
      <LineColor HtmlValue="A020F0" R="160" G="32" B="240" A="0.2" />
    </Voting_District>
    <SD_Elem MinZoomLevel="11" MaxZoomLevel="19" BoxLat="10" BoxLon="15">
      <FillColor HtmlValue="A020F0" R="160" G="32" B="240" A="0.2" />
      <LineColor HtmlValue="A52020" R="165" G="42" B="42" A="0.2" />
    </SD_Elem>
    <SD_Secondary MinZoomLevel="11" MaxZoomLevel="19" BoxLat="10" BoxLon="15">
      <FillColor HtmlValue="A52020" R="165" G="42" B="42" A="0.2" />
      <LineColor HtmlValue="969696" R="150" G="150" B="150" A="0.2" />
    </SD_Secondary>
    <SD_Unified MinZoomLevel="11" MaxZoomLevel="19" BoxLat="25" BoxLon="40">
      <FillColor HtmlValue="A020F0" R="160" G="32" B="240" A="0.2" />
      <LineColor HtmlValue="0000FF" R="0" G="0" B="255" A="0.2" />
    </SD_Unified>
    <Custom MinZoomLevel="12" MaxZoomLevel="19" BoxLat="25" BoxLon="40">
      <FillColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
      <LineColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
    </Custom>
    <Address MinZoomLevel="11" MaxZoomLevel="19" BoxLat="25" BoxLon="40">
      <FillColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
      <LineColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
    </Address>
    <PremiumCRoute MinZoomLevel="14" MaxZoomLevel="19" BoxLat="2" BoxLon="3">
      <!--<FillColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />
      <LineColor HtmlValue="BB0000" R="187" G="0" B="0" A="0.2" />-->
      <FillColor HtmlValue="F996F6" R="249" G="150" B="246" A="0.2" />
      <LineColor HtmlValue="00FFFF" R="0" G="255" B="255" A="0.2" />
    </PremiumCRoute>
  </Classifications>
  <log4net>
    <root>
      <level value="Error" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="GPS.DomainLayer.Area.AreaMerge.MergeOperator">
      <level value="Warn" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="SmtpLogger">
      <level value="Warn" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\inetpub\wwwroot\Files\Log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Date" />
      <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="ghostuz@gmail.com" />
      <from value="ghostu2@126.com" />
      <subject value="TIMM Project Warnning" />
      <smtpHost value="smtp.126.com" />
      <Authentication value="Basic" />
      <Username value="ghostu2@126.com" />
      <Password value="lovegames" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date%-5level %logger %newline%message%newline%newline%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.ActiveRecord" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="api">
  </location>
</configuration>