<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TIMMContext" connectionString="server=.\S2008R2; database=timm_201112; user id=sa; password=sa; timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>