

// Global
// ---------
$global-width: rem-calc(1400);
$breakpoints: (
    small: 0,
    medium: 1444px,
    large: 1700px
);

$foundation-palette: (
    primary: #2199e8,
    secondary: #777,
    success: #3adb76,
    warning: #ffae00,
    alert: #ec5840,
);

// Title Bar
// -------------
$titlebar-background: #fefefe;
$titlebar-color: #8a8a8a;
$titlebar-icon-color: #222222;

// Tooltip
// -----------
$tooltip-background-color: #2199e8;