$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

// fix search input margin issue
.mapboxgl-ctrl-geocoder mapboxgl-ctrl{
    max-width: 640px;
    width: 640px;
}
.mapboxgl-ctrl-geocoder--input{
    margin: 0 !important;
    padding: 6px 35px !important;
    width: 640px;
}

@import 'settings';

@import 'motion-ui/src/motion-ui';
//begin select 2
@import 'core';
@import '../public/style/select2-foundation-theme.css';
//fix select2 style
.select2-container input {
    height: 1.75rem !important;
}
.mapboxgl-ctrl-geocoder--icon{
    top: 10px !important;
}

//end select2

@import 'foundation-sites/scss/foundation';
@include foundation-everything($prototype: true);
@include foundation-flex-classes;
@include foundation-flex-grid;

@import 'foundation-datepicker/scss/foundation-datepicker';
//fix foundation reveal-overlay issue
// .reveal-overlay {
//     background: none;
//     pointer-events: none;
// }
// .reveal {
//     pointer-events: all;
// }

table tr.is-active{
    background-color: $primary-color !important;
}

@import 'simplebar/dist/simplebar.min.css';
@import 'datatables.net-dt';
@import 'datatables.net-zf';

