<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MySql" value="Database=Timm;Data Source=192.168.4.210;User Id=root;Password=admin"  />-->
      <add key="DBProvider" value="MsSql"/>
      <add key="MySql" value="Database=timm201107;Data Source=localhost;User Id=root;Password=harry4h#"  />
      <add key="MsSql" value="Database=Timm;Data Source=localhost;User ID=sa;Password=harry4h#"  />
  </appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<service name="WHYTAlgorithmService.Geo.Geofencing" behaviorConfiguration="WHYTAlgorithmService.Geo.Service1Behavior">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8892/WHYTAlgorithmService/Geofencing/" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<!-- Unless fully qualified, address is relative to base address supplied above -->
				<endpoint address ="" binding="basicHttpBinding" contract="WHYTAlgorithmService.Geo.IGeofencing">
					<!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
				<!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="HttpEnableBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="WHYTAlgorithmService.Geo.Service1Behavior">
					<!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
	<system.diagnostics>
		<switches>
			<!-- This switch controls data messages. In order to receive data 
         trace messages, change value="0" to value="1" -->
			<add name="DataMessagesSwitch" value="0" />
			<!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
			<add name="TraceLevelSwitch" value="2" />
		</switches>
		<trace autoflush="true" indentsize="3" >
			<listeners>
				<add name="myListener" traceOutputOptions="DateTime"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="GPSMonitor.log"/>
			</listeners>

		</trace>
	</system.diagnostics>
</configuration>
