<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="campaignimagepath" value="~/Files/Images/" />
    <add key="MapCacheFile" value="~/Files/Cache/" />
    <add key="BinMapKey" value="AtXXJaslHAB3VXs9lSXbsB9GjK55OJdKpU9lcpFtuA3BfNO-6dQFZu-pD8PIsJE-" />
    <!-- use Ramer–Douglas–Peucker Algorithm to reduce GtuInfo Location. 0:disable >0:enable and the Tolerance value. e.g. 500 menas tolerance is 0.000500 for lat/long equip 500 m -->
    <add key="GTUTolerance" value="500" />
		<!--Bing Map Tile Image Cache file path-->
		<add key="BingMapTileImageCachePath" value="d:\cache\"/>
		<add key="BingMapVersion" value="2045"/>
  </appSettings>
  <connectionStrings>
        <remove name="LocalSqlServer" />
    <add name="TIMMContext" connectionString="server=.\SQL2012; database=timm201301; user id=sa; password=sa; timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint automaticFormatSelectionEnabled="true" helpEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="1" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
