<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="host" value="74.208.46.157"/>
		<add key="port" value="11000"/>
		<add key="interval" value="2"/> 	<!-- How many seconds per position -->
		<add key="IsLoop" value="true"/>
	</appSettings>
	<system.diagnostics>
    <trace autoflush="false" indentsize="3" />
    <switches>
      <!-- This switch controls data messages. In order to receive data 
         trace messages, change value="0" to value="1" -->
      <add name="DataMessagesSwitch" value="0" />
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="4" />
    </switches>
    <sharedListeners>
      <add name="myListener" traceOutputOptions="Timestamp"
      type="System.Diagnostics.TextWriterTraceListener"
      initializeData="MyListener.log"/>
   </sharedListeners>
  </system.diagnostics>

</configuration>
