<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFTestContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.245;Initial Catalog=EFTest;Persist Security Info=True;User ID=sa;Password=sa;Pooling=False" />
  </connectionStrings>
</configuration>