<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
      type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;                 Microsoft.Practices.Unity.Configuration, Version=2.0.315.0,&#xD;&#xA;                 Culture=neutral, PublicKeyToken=31bf3856ad364e35"

                                                                   />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
  </configSections>
  <connectionStrings>
    <add name="GTU.DataLayer.Properties.Settings.GTUTrackingConnectionString1"
        connectionString="Data Source=SHILX\MSSQL2008;Initial Catalog=GTUTracking;User ID=sa; Password=shine123$%^"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="logIf" value="1"/>
    <add key="logPath" value="D:\SocketLog.txt"/>
    <add key="StayPeriod" value="2"/>
    <add key="StayRange" value="0.05"/>
  </appSettings>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
     type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,&#xD;&#xA;             Microsoft.Practices.Unity"
                                        />
      <typeAlias alias="external"
     type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,&#xD;&#xA;             Microsoft.Practices.Unity"
                                        />
      <typeAlias alias="perThread"
     type="Microsoft.Practices.Unity.PerThreadLifetimeManager,&#xD;&#xA;             Microsoft.Practices.Unity"
                                        />
      <!-- User-defined type aliases -->
      <typeAlias alias="IDataTrackProcess" type="GTU.ModelLayer.Common.IDataTrackProcess,GTU.ModelLayer" />
      <typeAlias alias="ValidAreaFilter" type="GTU.BusinessLayer.Track.ValidAreaFilter,GTU.BusinessLayer" />
      <typeAlias alias="InvalidAreaFilter" type="GTU.BusinessLayer.Track.InvalidAreaFilter,GTU.BusinessLayer" />
      <typeAlias alias="InvalidAddressFilter" type="GTU.BusinessLayer.Track.InvalidAddressFilter,GTU.BusinessLayer" />
      <typeAlias alias="StayFilter" type="GTU.BusinessLayer.Track.StayFilter,GTU.BusinessLayer" />
      <typeAlias alias="DataSaveFilter" type="GTU.BusinessLayer.Track.DataSaveFilter,GTU.BusinessLayer" />
      

      
      <!--
      <typeAlias alias="StayFilter" type="GTU.BusinessLayer.Track.StayFilter,GTU.BusinessLayer" />
      <typeAlias alias="DataSaveFilter" type="GTU.BusinessLayer.Track.DataSaveFilter,GTU.BusinessLayer" />-->
    </typeAliases>
    <containers>
      <container name="trackcontainer" >
        <types>
          <!--类型依赖注册-->
          <type type="IDataTrackProcess" mapTo="ValidAreaFilter" name="ValidAreaFilter">
            <!--<typeConfig>
              <property name="UnvalidAreaFilter" propertyType="IDataTrackProcess"/>
            </typeConfig>-->
                <lifetime type="singleton"></lifetime>
          </type>
          <type type="IDataTrackProcess" mapTo="InvalidAreaFilter" name="InvalidAreaFilter">
            <lifetime type="singleton"></lifetime>
          </type>
          <type type="IDataTrackProcess" mapTo="InvalidAddressFilter" name="InvalidAddressFilter">
            <lifetime type="singleton"></lifetime>
          </type>
          <type type="IDataTrackProcess" mapTo="StayFilter" name="StayFilter">
            <lifetime type="singleton"></lifetime>
          </type>
          <type type="IDataTrackProcess" mapTo="DataSaveFilter" name="DataSaveFilter">
            <lifetime type="singleton"></lifetime>
          </type>
          <!--
          <type type="IDataTrackProcess" mapTo="DataSaveFilter" name="DataSaveFilter">
            <lifetime type="singleton"></lifetime>
          </type>-->
          <!--配置一个类型-->
          
        </types>
        <!--添加一个拦截器扩展-->
       
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>